<head>
    <meta charset="utf-8">
    <title>Greetings WebApp</title>
    <link rel="stylesheet" href="/index-grid.css">
    <link rel="stylesheet" href="/registration_number.css">
</head>
  <body>
    {{{body}}}
  </body>